body{
	margin: 0px;
	overflow: hidden;
}
.main{
	width: 500px;
	height: 500px;
	background-image: url(img/11.jpg);
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	transition: 1.2s;
	/*background-color: pink;*/
}
span{
	width: 50px;
	height: 50px;
	float: left;
	display: flex;
	transition: 1.2s;
}
c{
	width: 50px;
	height: 50px;
	float: left;
	background-color: lightblue;
	box-shadow: inset 0px 0px 10px cornflowerblue;
	transition: 2s;
	margin: auto;
}
